@model IEnumerable<CadastroAnuncio.Models.CadastroAnuncioModel>

@{
    ViewBag.Title = "Relatorio";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"content="width=device-width"/>
    <title>Cadastro de Anúncios</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="col-md-12 text-center">
        <h3>Cadastro Anúncios</h3>
        <table class="table">
            <tr>
                <th>
                    Nome Cliente
                </th>

                <th>
                   Total Investido
                </th>
                <th>
                   Visualizações
                </th>
                <th>
                    Cliques
                </th>
                <th>
                    Compartilhamentos
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.NomeCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotalInvestido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtdMaxVizualizacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtdMaxClique)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtdMaxCompartilhamento)
                    </td>

                </tr>
            }

        </table>
    </div>
</body>
</html>


